@font-face {
	font-family: "iconfont";
	src: url('../fonts/iconfont.ttf') format('truetype');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.iconHome:before { content: "\e604"; }
.iconContact:before { content: "\e60e"; }
.iconList:before { content: "\e614"; }
.iconMe:before { content: "\e60f"; }
